*{
  margin: 0;
}

.in {
  opacity: 1;
  cursor: pointer;
}

.out {
  opacity: 0.6;
  cursor: not-allowed;
}

.container {
  display: flex;
}

.center {
  justify-content: center;
  align-items: center;
}

.start {
    justify-content:space-around;
    align-items: flex-start;
}

.paddingBig {
    padding:40px;
}

thead, th {
    border-bottom: 1px dotted black;
    padding: 0px 10px;
}

td {
  text-align: center;
}

button {
  cursor: pointer;
}

#send {
  cursor: not-allowed;
}